.app-item-content {
  width: 100%;
  height: 100px;
  background-color: #fff;

  .app-icon {
    float: left;
    width: 110px;
    height: 100px;
    text-align: center;
    padding: 10px 15px;
  }

  .app-info {
    margin-left: 120px;
    height: 100px;

    &-basic,
    &-resource {
      height: 50px;
    }

    &-basic {
      .info-block {
        float: left;
        height: 50px;
        line-height: 50px;
        min-width: 150px;
        margin-right: 30px;
        overflow: hidden;

        i,
        span {
          height: 50px;
          line-height: 50px;
          display: block;
          float: left;
          overflow: hidden;
          text-overflow: ellipsis;
          word-wrap: normal;
          font-size: 1rem;
        }

        i {
          font-size: 16px;
          color: #bfbfbf;
          margin-right: 10px;
        }

        .item-name {
          font-weight: bold;
          color: #00b4cf;
        }
        .item-state {
          float: none;
          height: 20px;
          min-width: 40px;
          margin: 0 10px;
          padding: 0 10px;
          line-height: 20px;
          display: inline-block;
          color: #fff;
        }
      }
    }

    &-resource {
      padding-top: 15px;
      & > div,
      ul {
        float: left;
      }
      & > button {
        float: right;
      }

      .add-btn {
        background-color: #00b4cf;
        width: 20px;
        height: 20px;
        text-align: center;
        padding-top: 1px;
        cursor: pointer;

        i {
          color: #fff;
          font-size: 18px;
        }
      }
      .resource-item {
        float: left;
        height: 20px;
        line-height: 20px;
        padding: 0 10px;
        margin-left: 20px;
        background-color: #efefef;

        i {
          position: relative;
          top: 1px;
          cursor: pointer;
        }
      }

      .deny-btn {
        border: none;
        margin-right: 25px;
        height: 30px;
        padding: 0 10px;
        background: #00b4cf;
        color: #fff;
        position: relative;
        top: -5px;
        cursor: pointer;
        outline: none;
      }
    }
  }
}

.state-type-building {
  background-color: #ff9a2a;
}
.state-type-idle {
  background-color: #7fbc39;
}
